

.Navbar {
   position: relative;
    width: 100vw;
  height: 10vh;
  background: #e7e08b ;
  display: flex;
  justify-content: space-around;
  align-items: center;

  
}

.NavbarLinks{
    text-decoration: none;
    color: rgb(24, 22, 22);
    padding: 15px;


}

.NavbarLinks:hover{
color: rgb(26, 23, 23);
text-decoration: underline;
}

button{
    background-color: rgb(221, 208, 31);
    border: none;
   padding: 5px 15px;
}

.user-div{
    display: flex;
    width: 3rem;
    align-items: center;

}

.user-div h3{
    color: white;
    font-size: 18px;
    margin-right: 20px;
    margin-bottom: 0;
} 




