.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-container{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url('https://images.unsplash.com/photo-1605816246254-851765f431b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=775&q=80');
background-size: cover;
background-repeat: no-repeat;

}

.home-container h1{
  font-size: 70px;
}

form{
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 0 auto;
  border: solid 3px #0a788b;
  padding: 30px;

}

form input{
  margin-bottom: 10px;
  border: solid 3px #0a788b;
}

form label{
  margin-bottom: 5px;
}

form button{
  background-color: #0a788b;
  color: white;
  margin-top: 10px;
}